
@{
    ViewBag.Title = "Login";
}
@model Daribaba.ViewModels.SignUpViewModel
           
           @using Daribaba.Models

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            
           @* <div class="col-sm-1">
        <h2 class="or">OR</h2>
    </div>*@ 
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                @using (Html.BeginForm("Login","Customer",FormMethod.Post))
                {
                  <form action="#">
                      @Html.LabelFor(m => m.CustomerName)
                      @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.Password)
                      @Html.PasswordFor(m => m.Password, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.Email)
                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.PhoneNumber)
                      @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.Website)
                      @Html.TextBoxFor(m => m.Website, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.Company)
                      @Html.TextBoxFor(m => m.Company, new { @class = "form-control btmspace-15" })
                      @Html.LabelFor(m => m.Address)
                      @Html.TextBoxFor(m => m.Address, new { @class = "form-control btmspace-15" })
                      <input class="btn btn-primary btn-block btmspace-15" value="register" type="submit">
                    </form>  
                }
                    
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
